<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="nav">
        <img src="images/logo.jpg" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/menu">On the menu</a></li>
        </ul>
        <div class="sign">
            <div><a href="/cart-dash">Shopping Cart</a></div>
            <div><a href="/login">Log in</a></div>
            <div><a href="/signup">Sign up</a></div>
        </div>
    </div>

    <h1 class="header">QJD PEKING DUCK (MARKHAM)  RESAURANT</h1>

    <div class="body">
        <img src="images/main.jpg" alt="">
        <img src="images/main2.jpg" alt="">
    </div>

    <div class="footer">
        <div>
            <p>QJD PEKING DUCK RESTARANT</p>
            <p>7095 WOODBINE AVE, MARKHAM, ON</p>

        </div>
        <div>
            <p>905- 604-7798</p>
            <p>QJDPEKINGDUCK@GMAIL.COM</p>
        </div>
    </div>
</body>
</html>