<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <form action="/login" method="post">
        <h3 class="title">Log in</h3>
        <div>
            <input type="text" name="email" placeholder="Email">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="message">
            <p>{{data}}</p>
        </div>
        <div>
            <input type="submit" value="Log in" id="submit">
            <input type="reset" value="Clear" id="reset">
        </div>
    </form>
</body>
</html>