* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    height: 50px;
    background-color: yellow;
}

.nav img {
    float: left;
    height: 40px;
    margin-left: 30px;
    margin-top: 5px;
}

.nav ul {
    float: left;
    margin-left: 100px;
}

.nav ul li {
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    text-align: center;
    line-height: 50px;
}

.logout {
    float: right;
    margin-top: 13px;
    margin-right: 100px;
}

.logout div {
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
    border: 1px solid;
    text-align: center;
}

.header {
    height: 100px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
}

.body {
    height: 500px;
    text-align: center;
}

.body h1 {
    margin-top: 50px;
}

table {
    margin: auto;
    margin-top: 50px;
}

caption {
    font-size: 20px;
    padding: 10px;
}

table, th, td {
    border: 1px solid red;
    border-spacing: 0;
}

th, td {
    width: 100px;
    padding: 3px 5px;
}

button {
    width: 50px;
}

.placeorder button {
    width: 100px;
}

.footer {
    height: 150px;
    background-color: lightgreen;
}

.footer div {
    float: left;
    height: 100px;
    margin-left: 200px;
    margin-top: 50px;
}