* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

form {
    width: 250px;
    height: 450px;
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
}

h3 {
    font-size: 20px;
    margin-left: 40px;
    padding: 10px;
}

input {
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
}

input[type="submit"] {
    width: 60px;
    margin-left: 50px;
}

input[type="reset"] {
    width: 60px;
    margin-left: 20px;
}