* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav {
    height: 50px;
    background-color: yellow;
}

.nav img {
    float: left;
    height: 40px;
    margin-left: 30px;
    margin-top: 5px;
}

.nav ul {
    float: left;
    margin-left: 100px;
}

.nav ul li {
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    text-align: center;
    line-height: 50px;
}

.sign {
    float: right;
    margin-top: 13px;
    margin-right: 100px;
}

.sign div {
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
    border: 1px solid;
    text-align: center;
}

.header {
    height: 100px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
}

.elem {
    display: inline-block;
    margin: 20px;
}

.body {
    width: 1200px;
    margin: auto;
}

.elem img {
    width: 500px;
    height: 750px;
}

.elem div {
    margin-left: 100px;
}

.footer {
    height: 150px;
    background-color: lightgreen;
}

.footer div {
    float: left;
    height: 100px;
    margin-left: 200px;
    margin-top: 50px;
}